SECRET=somesecretvaluehere
CLIENT_UID=
CLIENT_SEC=
CALLBACK=http://localhost:5000/auth/42/redirect
FRONT_URL=http://localhost:3000
EMAIL_USER=
EMAIL_PW=
DEFAULT_IMG=./profiles/default.jpeg
DB_HOST=postgres
ENABLE_GUEST_LOGIN=true
